body{
	display: grid;
	grid-template-columns:  1fr 18fr;
	font-family: Arial;
}

.main_window{
	display: flex;
	flex-direction: column;

}

#bottom{
	display: grid;
	grid-template-columns:  1fr 5fr;
}


#main-page{
	width: 100;
}

.title{
	background-color: #ededed;
	padding: 1em;
	margin-top: 0;
}


.assignment{
	border: 1px solid #d9dbda;
	margin-top: 20px;
	margin-buttom: 20px;

}


.filterButton{
	height: 3em;
	margin: 1em;
}

#showByDate{
	background-color: #8c8c8c;
	color: white;
}

